@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#9BF2EA,#41BFB3);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(26, 98, 91, 0.568);
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
    color: #275950;
    text-shadow: 1px 1px 2px #2759509c;
}
h2{
    color: #2A8C82;
}